DATABASE_URL=""
# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET="replace-with-32-plus-char-secret"
BETTER_AUTH_URL=""
BETTER_AUTH_GOOGLE_CLIENT_ID=""
BETTER_AUTH_GOOGLE_CLIENT_SECRET=""
BETTER_AUTH_GITHUB_CLIENT_ID=""
BETTER_AUTH_GITHUB_CLIENT_SECRET=""
RESEND_API_KEY=""
FROM_EMAIL=""
CRON_SECRET=""
